body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    #ffe4ec,
    #ffb3c6,
    #ff8fab,
    #b5173f
  );
  background-size: 400% 400%;
  animation: bgMove 20s ease infinite;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle at top,
    rgba(255,255,255,0.15),
    rgba(0,0,0,0.25)
  );
  pointer-events: none;
  z-index: 0;
}
